body{
    font-family: "Lato";
}
.nav-wrapper{
    display:flex;
    justify-content: space-between;
    padding: 38px;
}
.left-side{
    display:flex;

}
.nav-wrapper > .left-side > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}
.nav-link-wrapper{
    height:22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.nav-link-wrapper a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}
.nav-link-wrapper:hover{
    border-bottom: 1px solid white;

}
.nav-link-wrapper a:hover{
    color : white;
    
}
.two-column-wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper {
    display: flex;
    justify-content: center;
}

.profile-image-wrapper img{
    width:80%;
    border-radius: 60%;
    height: 80%;
    border: 8px solid lightseagreen;

}
.profile-content-wrapper{
    padding: 30px;

}
.profile-content-wrapper h1{
    color:lightseagreen;
}
p {
    font-size: large;
}
